body {
	font-family: 'Verdana', sans-serif;
}

.container {
	margin-left: 2.7%;
}

.img-responsive {
	width: 400px;
	height: 372px;
	margin-bottom: 8.5%;
}

h1 {
	color: #666;
	font-size: 48px;
	font-weight: lighter;
}

.col-md-12 {	
	text-align: center;
	padding-top: 25px;
	padding-right: 1.4%;
}

.col-md-5 {
	margin-top: 2.3%; 		
}

h2 {
	color: #f07c17;
	font-size: 24px;
	font-weight: bolder;
	width: 651px;
	margin-bottom: 29px;	
}

.borderedSection {
	font-size: 16px;
	line-height: 33px;
	width: 374px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 2.2%;
}

p {
	font-size: 16px;	
	line-height: 32px;
}
